<!DOCTYPE html>
<html>
<head>
	<title><%= siteTitle %> - <%= pageTitle %></title>
	<meta charset="UTF-8">
	<!--title>Document</title-->
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body style="background-color: lightblue;">
	<nav class="navbar navbar-dark ng-primary">
		<span class="navbar-brand" style="color: #fff;"><% pageTitle %></span>
	</nav>

	
	
